html
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# your_app: http://ogp.me/ns/fb/your_app#")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(property="og:type", content="your_app:challenge")
        meta(property="og:title", content=challenge.name)
        meta(property="og:url", content=url)
        meta(property="og:image", content=siteUrl+"/images/playgroundlogo.png")
