include ../mixins/flash-messages
doctype html
html.background-html-signin
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        title= t("signin.SIGN_IN_TITLE", {appName:t("APP_NAME")})
        link(rel="stylesheet", href="/keystone/styles/auth.min.css")
        link(rel="stylesheet", href="/styles/site.min.css")
        link(rel="shortcut icon", href="/favicon.ico?v=3", type="image/x-icon")
        block css
    body.transparent-body
        .auth-wrapper
            +flash-messages(messages)
            if !messages
                .alert.alert-placeholder &nbsp;
            .auth-body(class=messages && messages.error.length ? 'has-errors' : null)
                block content
            block footer
            //- Page Scripts
            block js