extends layouts/base
block content
    p Dear #{username},
    p Congratulations!
    p. 
        Because of your effort and hard work you've been able to buy this experience with your tokens!
        We hope you had exciting new experiences and rediscovered your city?
        Send us your name, and telephone number so we can plan this experience with you: <a href='mailto:john.doe@me.com?subject=Playground Experience reservation'>Click here to contact Playground</a>
    p Here are the details of your experience:
    ul
        li Experience: #{experience.name}
        li Number of tickets: #{amount}
    p.
        Greetings!
    br
    p.subtext-italic!= i18n.t("emails.UNSUBSCRIBE_DESCRIPTION", {appName: i18n.t("APP_NAME"),unsubscribeLink: unsubscribeLink})
